 <ul class="instructor-list">

{% for a in info %}
<li  class="instructor">
    {{ a.thumbnail }}
    <div class="content text-center">
    <h3>{{ a.title }}</h3>
     {{ a.content }}
        <div class="specialty">
        {% for s in a.specialty %}
            {{ s }}
        {% endfor %}
         </div>
    </div>

</li>
{% endfor %}


</ul>

