<main class="container page section">
<h1 class="text-center text-primary">{{title}}</h1>
<ul class="gallery-images">
{% for img in gallery %}
     <li>
                            <a href="{{img.image}}" data-lightbox="gallery">
                                <img src="{{img.imageThumb}}" />
                            </a>
    </li>
{% endfor %}
</ul>
</main>
