 <ul class="classes-list">
{% for a in info %}
<li class="gym-class card gradient">
            {{ a.thumbnail }}
            <div class="card-content">
                <a href="{{ a.permalink }}">
                    <h3>{{ a.title }}</h3>
                </a>

                <p>{{ a.class_days }} - {{ a.start_time }} to {{ a.end_time }} </p>

            </div>
</li>
{% endfor %}


</ul>

