<h1 class="text-center text-primary">{{ title }}</h1>
{{ img }}
{% if post_type == 'gymfitness_classes' %}
<p class="content-class">
{{ class_days }}-{{ start_time }} to {{ end_time }}
</p>
{% endif %}
{{ content }}

